* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* primary */
    --Ver-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);

    /* ### Accent */

    --Bright-Blue: hsl(224, 93%, 58%);
    --light-bright: hsla(224, 100%, 70%, 0.851);
    --Moderate-Cyan: hsl(170, 45%, 43%);

    /* ### Neutral */

    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
}

body {
    font-family: 'open sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 50px;
    width: 100%;
    align-items: center;
    height: 15vh;
}

.logo {
    height: 30px;
    width: 120px;
}

.logo img {
    height: 100%;
    width: 100%;
}

#nav-ul {
    display: flex;
    gap: 40px;
}

#nav-ul li {
    cursor: pointer;
    font-family: 'raleway', sans-serif;
    font-weight: 500;
    /* color:var(--Ver-Dark-Blue); */
    color: var(--Desaturated-Blue);
    list-style: none;
}

.mobile-curve {
    display: none;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 150px; */
}

.main-first {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 150px;
}

.first-main-head {
    font-family: 'raleway', sans-serif;
    font-size: clamp(30px, 3vw, 40px);
    font-weight: 700;
    color: var(--Ver-Dark-Blue);
}

.first-img {
    height: 100%;
    width: 100%;
}

.first-img img {
    height: 100%;
    width: 100%;
}

.first-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.first-main-para {
    font-weight: 600;
    line-height: 1.5;
    color: var(--Desaturated-Blue);
}

#email {
    /* padding: 10px 10px; */
    border: 1px solid var(--Desaturated-Blue);
    height: 40px;
    width: 50%;
    padding-inline: 10px;
}

::placeholder {
    color: var(--Light-Gray);
    font-family: 'open sans', sans-serif;
    font-weight: 600;
}

#submit {
    height: 40px;
    width: 30%;
    background-color: var(--Bright-Blue);
    color: white;
    font-family: 'open sans', sans-serif;
    border: none;
}

#submit:hover {
    background-color: var(--light-bright);
    cursor: pointer;
}

.main-second {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--Light-Grayish-Blue);
}

.main-second-child {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 100px;

}

.second-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-main-img {
    height: 100%;
    display: flex;
    justify-content: end;
    width: 100%;
}

.second-main-img img {
    height: 90%;
    width: 90%;
}

.desktop-curve {
    width: 100%;
    position: absolute;
    top: -100px;

}

.second-main-head {
    font-family: 'raleway', sans-serif;
    font-size: clamp(25px, 3vw, 35px);
    font-weight: 700;
    color: var(--Ver-Dark-Blue);
    margin-bottom: 20px;
}

.second-main-para {
    line-height: 1.5;
    color: var(--Desaturated-Blue);
    font-weight: 600;
    padding-block: 10px;
    font-size: clamp(14px, 2vw, 15px);
}

.green {
    display: flex;
    align-items: center;
    /* font-size: ; */
    border-bottom: 1px solid var(--Moderate-Cyan);
    font-weight: 500;
    /* text-decoration: underline; */
    color: var(--Moderate-Cyan);
    padding-bottom: 3px;
    font-size: clamp(13px, 2vw, 14px);
    width: fit-content;
    margin-bottom: 40px;
}

span {
    display: flex;
    align-items: end;
    padding-left: 8px;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 65%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    color: var(--Desaturated-Blue);
    font-weight: 600;
}

.cart-para {
    font-size: clamp(12px, 2vw, 13px);
    line-height: 1.5;
}

.cart-member-ceo {
    align-items: center;
    display: flex;
    gap: 15px;
    padding-top: 10px;
}

.avatar {
    height: 30px;
    width: 30px;
}

.avatar img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.firstname {
    font-family: 'raleway', sans-serif;
    font-size: clamp(12px, 2vw, 13px);
    font-weight: 800;
    color: var(--Ver-Dark-Blue);
}

.post {
    font-size: clamp(10px, 2vw, 12px);
    font-weight: 500;
    color: var(--Desaturated-Blue);

}

.main-third {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    background-color: hsl(240, 25%, 40%);
    height: 30vh;

}

.main-third-child {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 50%));
}

.main-third-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mySecondForm {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#second-email {
    height: 40px;
    border-radius: 4px;
    width: 80%;
    padding-inline: 10px;
    border: none;
}

#second-email :active {
    border: none;
}

#submitSecond {
    border-radius: 4px;
    width: 40%;
    height: 40px;
    background-color: var(--Bright-Blue);
    border: none;
    color: white;
    font-size: clamp(12px, 2vw, 13px);
    font-weight: 600;
    font-family: 'open sans', sans-serif;
}

#submitSecond:hover {
    background-color: var(--light-bright);
    cursor: pointer;
}

.third-main-head {
    font-family: 'raleway', sans-serif;
    color: white;
    font-weight: 600;
    font-size: clamp(25px, 2vw, 30px);
    margin-bottom: 20px;
}

.third-main-para {
    color: rgba(255, 255, 255, 0.799);
    font-family: 'open sans', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: clamp(13px, 2vw, 15px);
    width: 80%;
}

footer {
    width: 100%;
    height: 40vh;
    background-color: var(--Ver-Dark-Blue);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-left: 50px;
    padding-top: 70px;
}

.foooter-logo {
    width: 90%;
}

.footer-child {
    color: white;
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* align-items:start; */
    height: 80%;

}

.logo-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.icons-footer {
    width: 10%;
    
}

.insta,
.facebook,
.twitter {
    border: 1px solid white;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter:hover {
    border-color: var(--Bright-Blue);

    #onHoverTwit {
        color: var(--Bright-Blue);
        cursor: pointer;
    }
}

.facebook:hover {
    border-color: var(--Bright-Blue);

    #onHoverFace {
        color: var(--Bright-Blue);
        cursor: pointer;
    }

}

.insta:hover {
    border-color: var(--Bright-Blue);

    #onHoverInsta {
        color: var(--Bright-Blue);
        cursor: pointer;
    }

}

#onHoverInsta,
#onHoverFace,
#onHoverTwit {
    font-size: 14px;
}

#onHoverInsta:hover {
    color: var(--Bright-Blue);
    cursor: pointer;

    .insta {
        border: 1px solid var(--Bright-Blue);
        border-radius: 50%;
    }
}

#onHoverFace:hover {
    color: var(--Bright-Blue);
    cursor: pointer;
}

#onHoverTwit:hover {
    color: var(--Bright-Blue);
    cursor: pointer;
}

.number,
.email {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-of {
    height: 30px;
    width: 100px;

}

.logo-of img {
    height: 100%;
    width: 100%;
}

.footer-li {
    display: flex;
    /* gap: 20px;
     */
    width: 25%;
    justify-content: space-between;
}

.footer-li-one li {
    list-style: none;
}

.footer-li-one ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.footer-li-two ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.footer-li-one li:hover {
    /* list-style: none; */
    color: var(--Bright-Blue);
    cursor: pointer;
}

.footer-li-two li {
    list-style: none;
}

.footer-li-two li:hover {
    /* list-style: none; */
    color: var(--Bright-Blue);
    cursor: pointer;
}
.icons-footer-child{
    display: flex;
    justify-content: space-evenly;
}

@media (min-width:767px) and (max-width:1025px) {
    .desktop-curve {
        top: -60px;
    }

    .second-main-img {
        display: flex;
        align-items: center;
    }

    .second-main-img img {

        height: 70%;
    }

    #submitSecond {
        width: 48%;
    }

    .main-third-child {
        width: 94%;
    }

    .logo-footer {
        font-size: 13px;
    }

    .footer-li-one ul {
        height: 45%;
        font-size: 12px;
    }

    .footer-li-two ul {
        font-size: 12px;
        height: 45%;
    }

    .third-main-para {
        width: 97%;
    }

    .icons-footer {
        width: 20%;
    }
}

@media(max-width:420px) {
    nav {
        padding-inline: 25px;
    }

    .logo {
        height: 25px;
        /* height: 95px; */
        width: 95px;
    }

    #nav-ul {
        gap: 15px;
    }

    #nav-ul li {
        font-weight: 600;
        font-size: 13px;
    }

    .main-first {
        display: flex;
        flex-direction: column-reverse;
    }

    .first-main-head {
        text-align: center;
        padding-top: 30px;
        font-size: clamp(25px, 3vw, 30px);
    }

    .first-main-para {
        text-align: center;
        font-size: clamp(14px, 3vw, 16px);
        width: 90%;
    }

    .first-text {
        align-items: center;
    }

    #myForm {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #myForm input {
        display: block;
        width: 80%;
    }

    .mobile-curve {
        position: absolute;
        top: -50px;
        display: block;
        width: 100%;
    }

    .desktop-curve {
        display: none;
    }

    .main-second-child {
        display: flex;
        flex-direction: column-reverse;
        padding-block: 40px;
    }

    .green-p {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }

    .second-main-head {
        font-family: 'raleway', sans-serif;
        font-size: clamp(18px, 3vw, 30px);
        font-weight: 700;
        color: var(--Ver-Dark-Blue);
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .second-main-text {
        align-items: center;
    }

    .cart {
        width: 90%;
    }

    .third-main-head {
        /* margin-bottom: 10px; */
        font-size: clamp(20px, 2vw, 25px);
        margin-bottom: 15px;
    }

    .main-third {
        justify-content: center;
        padding-block: 50px;
        height: fit-content;
    }

    .main-third-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .third-main-para {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        width: 80%;
    }

    .main-third-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-third-form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #mySecondForm {
        width: 90%;
        align-items: center;
    }


    #submitSecond {
        width: 80%;
        border-radius: 1px;
    }

    #second-email {
        border-radius: 1px;

    }

    footer {
        height: fit-content;
        padding: 40px;
    }

    .footer-child {
        flex-direction: column;
        gap: 40px;
    }

    .footer-li {
        flex-direction: column;
        width: 100%;
        gap: 35px;

    }

    .footer-li-one ul {
        gap: 20px;
        font-weight: 300;
        font-size: clamp(13px, 3vw, 14px);
    }

    .footer-li-two ul {
        gap: 20px;
        font-weight: 300;
        font-size: clamp(13px, 3vw, 14px);
    }
    
    .number {
        font-weight: 300;
        font-size: clamp(13px, 3vw, 14px);
    }

    .email {
        font-weight: 300;
        font-size: clamp(13px, 3vw, 14px);
    }
    
    .icons-footer {
        display: flex;
        width: 100%;
        /* justify-content: space-evenly; */
        justify-content: center;
    }
    .icons-footer-child{
        width: 60%;
        justify-content: space-evenly;
    }
}
@media (max-width:281px){
    .mobile-curve{
        top: -30px;
    }
    .number {
        font-weight: 300;
        font-size: clamp(12px, 3vw, 13px);
    }

    .email {
        font-weight: 300;
        font-size: clamp(12px, 3vw, 13px);
    }
    .footer-li-one ul {
        gap: 20px;
        font-weight: 300;
        font-size: clamp(12px, 3vw, 13px);
    }

    .footer-li-two ul {
        gap: 20px;
        font-weight: 300;
        font-size: clamp(12px, 3vw, 13px);
    }
    #nav-ul li{
        font-size: clamp(9px,3vw,14px);
    }
    .logo{
        height: 20px;
        width: 70px;
    }
}